.center {
	text-align: center;
}

h1 {
	margin: 20px 0;
    color: #fff
}

.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 42%;
	height: 110px;
	z-index: 81;
	border-bottom: 0px solid rgba(255, 255, 255, 0.664);
	margin-bottom: 1px;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}

.web3buttons{
	margin-bottom: 12px;
	background: transparent;
}

.logo {
	height: 45px;
	width: 45px;
}

.nav-tabs {
	display: flex;
	font-weight: 100;
	font-size: 15.5px;
	list-style: none;
	border: 0 !important;
}

.nav-tab {
	padding: 0.5px 15px;
	margin: 45;
	border-right: 0px solid rgb(121, 121, 121);
}

.nav-tab,
.menu-btn {
	cursor: pointer;
}

.hidden {
	display: none;
}

@media screen and (min-width: 1350px) {

.dropdown-content {
	display: none;
	position: absolute;
	border-radius: 16px;
	background-color: #394454;
	z-index: 1;
	font-size: 14px;
	margin-top: 5px;
	padding: 5px 5px;
	margin-left: 0px;
	box-shadow: 0px 0px 3px #ffff;
}

/* Change color of dropdown links on hover */
/* .dropdown-content li:hover {background-color: #f9f9f9} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown-items li{
	padding: 15px 16px;
	width: 130px;
	border-radius: 30px;
	display: flex;
}

.dditem{
	margin-left: 5px;
}

#infoToggleDesktop{
	display: block;
}

#infoToggleMobile{
	display: none;
}

}

@media screen and (max-width: 1350px) {
	#infoToggleDesktop{
		display: none;
	}

	#infoToggleMobile{
		display: block;
	}
	
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(26, 28, 44);
	width: 130%;
	z-index: 1;
}

.dropdown-items li{
	padding: 18px 16px;
	width: 140px;
	text-decoration: none;
	display: flex;
}

.dropdown-items li span{
	margin-left: 7px;
}

.card-body{
	padding: 0 0 15px 0 !important;

}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #181818}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li{
	color: black;
	padding: 18px 16px;
	text-decoration: none;
	display: block;
}

.nav-container {
	position: fixed;
	display: none;
	overflow-y: auto;
	z-index: -1;
	top: 0;
	right: 0;
	width: 150px;
	height: 100%;
	background-color: #394454;
	flex-flow: column;
}

.nav-tabs {
	flex-direction: column;
	align-items: center;
	margin-top: 120px;
	width: 100%;
}

.nav-tab:not(:last-child) {
	padding: 20px 25px;
	margin: 0;
	border-right: unset;
	border-bottom: 0px solid #f5f5f5;
}

.nav-tab:last-child {
	padding: 15px 25px;
}

.menu-btn {
	position: relative;
	display: block;
	margin: 0;
	width: 20px;
	height: 15px;
	cursor: pointer;
	z-index: 90;
	padding: 10px;
	border-radius: 10px;
	background-color: transparent !important;
	border: 0 !important;
	box-shadow: 0 !important;
}

.menu-btn .menu {
	display: block;
	width: 20px;
	height: 3px;
	border-radius: 2px;
	background:  #ffffff !important;
}

.menu-btn .menu:nth-child(2) {
	margin-top: 4px;
	opacity: 1;
}

.menu-btn .menu:nth-child(3) {
	margin-top: 4px;
}

#menuToggle:checked + .menu-btn .menu {
	transition: transform 0.2s ease;
}

#menuToggle:checked + .menu-btn .menu:nth-child(1) {
	transform: translate3d(0, 6px, 0) rotate(45deg);
}

#menuToggle:checked + .menu-btn .menu:nth-child(2) {
	transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
	opacity: 0;
}

#menuToggle:checked + .menu-btn .menu:nth-child(3) {
	transform: translate3d(0, -6px, 0) rotate(-45deg);
}

#menuToggle:checked ~ .nav-container {
	z-index: 72;
	display: flex;
	animation: menu-slide-left 0.3s ease;
}
@keyframes menu-slide-left {
	0% {
		transform: translateX(200px);
	}
	to {
		transform: translateX(0);
	}
}
}

.web3li{
	padding: 5px;
	
}



.menu-btn{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

@media screen and (max-width: 1024px) {
    #root .nav-wrapper{
        height: 50px;
        width: 100%;
        padding: 0 25px;
    }

    #root .nav-wrapper button.menu-btn{
        background-color:transparent;
        padding: 0;
        height: 20px;
        width: 20px;
        margin-top: -45px;
    }
    #root .nav-wrapper button.menu-btn:hover{
        background-color:transparent;
    }
}
